@use "../abstracts/variables" as *;
@use "../abstracts/breakpoints" as *;

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    

    @include mobile {
        font-size: 12px;
    }
}

.logo {
    max-height: 68px;
    width: auto;
    color: $color-primary;

    @include mobile {
        width: 145px;
    }
}

.nav {
    gap: 57px;
    display: flex;
    

    @include mobile {
        gap: 26px;
        text-transform: uppercase;
    }
}