// Couleurs
$color-primary: #ff6060;
$color-secondary: #f6f6f6;
$color-white: #ffffff;
$color-black: #000000;

// Typographie
$font-main: 'Montserrat', sans-serif;

// Bords arrondis
$radius: 10px;

// Largeur 
$container-max-width: 1240px;
