@use "../abstracts/variables" as *;
@use "../abstracts/breakpoints" as *;

.home {
  margin-top: $header-gap;

  @include mobile {
    margin-top: $header-gap-mobile;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-bottom: 40px;
  padding: 50px;
  background-color: $color-secondary;
  border-radius: 25px;

   @include mobile {
    grid-template-columns: 1fr; 
    gap: 20px;
    padding: 0px;
    background-color: $color-white;
    margin-bottom: 20px;
   }
}

.gallery a {
  text-decoration: none;

  @include mobile {

  }
}